html {
  height: 100%;
  font-family: 'Raleway', Arial, sans-serif;
}
@font-face{
  font-family: 'Raleway', Arial, sans-serif;
  src: url("../src/OpenSans.ttf");
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}
#content {
  flex: 1;
  background-color: black;
}

/*Header*/
.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background: rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup .content {
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position:absolute;
  top:40%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:black;
  width:550px;
  height:350px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family: 'Raleway', Arial, sans-serif;
}

.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:black;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

.popup.active .overlay {
  display:block;
}

.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

.closeBttn {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  padding:15px;
  font-size:18px;
  border:2px solid #222;
  color:#222;
  text-transform:uppercase;
  font-weight:600;
  background:#fff;
}
#header{
  color: whitesmoke;
  display: flex;
  background-color: black;
  width: 100%;
  height: 100px;
}
#fraseHeader{
  font-style: italic;
  margin-top: 1.3%;
  margin-left: 2%;
  width: 40%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
#titolHeader{
  width:100%;
  display: flex;
  justify-content: center;
}
#botonsDivHeader{
  position: absolute;
  right: 0;
  top: 0;
  height: 100px;

}
.headerBttn{
  float: left;
  color: white;
  height: 100px;
  width: 60px;
  padding: 0px;
  background-color:black;
  border: none;
  border-left: 2px solid black;
  outline: none;
}
#logo{
  height: 100px;
  margin: 0;
  padding: 5px;
}
#searchBttn{
  height: 20px;
  width: 20px;
}
#logInBttn{
  height: 20px;
  width: 20px;
}

/*-----HEADER LOGEADO, OPCIONES-----*/

#navMenu{
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: block;
}
#opcionesMenu{
  list-style: none;
  text-decoration: none;
}

#menu li>a{
  color: whitesmoke;
  text-transform: capitalize;
  text-decoration: none;
  min-width: 100px;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}

#menu li>a:hover{
  color: #000;
  background-color: #eaeaea;
}
#menu>li{
  float: left;
  text-align:center
}
#menu>li>ul{
  display: none;
}
#menu>li:hover>ul {
  display:block;
}

#logeado_user{
  text-transform: capitalize;
}
/*-----CREAR EXPERIENCIA POP-UP-----*/

#contentNewExperience {
  flex: 1;
  background-color: black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  .popup .contentNewExperience{
    margin: 0 auto;
    align-items: center;
    display: grid;
    justify-items: center;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    position:absolute;
    max-width: 1580px;
    height:650px;
    transform:translate(-50%,-50%) scale(0);
    background:black;
    top:40%;
    left:50%;
    z-index:2;
    text-align:center;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Raleway', Arial, sans-serif;
  }
  .popup.active .contentNewExperience {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
    }

.wrapper{
  margin: 0 auto;
}

.wrapper--w780 {
  max-width: 1080px;
}

.card-body{
  background: lighten(black, 5%);
  display: grid;
  grid-template-areas: "." ".";
  width: 500px;
}

.crear{
  display: inline-block;
  line-height: 40px;
  padding: 0 33px;
  font-family: 'Raleway', Arial, sans-serif;
  cursor: pointer;
  color: whitesmoke;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 18px;
}

.crear--radius{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.crear--pill{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.crear-orange{
  background: #b80f22;;
}

.crear-orange:hover{
  background: #ffc107;
}

/* ==========================================================================
   #FORM
   ========================================================================== */
   input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
  }
  
  .input-icon {
    position: absolute;
    font-size: 18px;
    color: #ccc;
    right: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 33px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .input--style-3 {
    padding: 5px 0;
    font-size: 16px;
    color: #ccc;
    background: transparent;
  }
  
  .input--style-3::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #ccc;
  }
  
  .input--style-3:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ccc;
    opacity: 1;
  }
  
  .input--style-3::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ccc;
    opacity: 1;
  }
  
  .input--style-3:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ccc;
  }
  
  .input--style-3:-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ccc;
  }

  .input--style-4 {
    padding: 5px 0;
    font-size: 16px;
    color: #ccc;
    background: transparent;
    overflow: auto;
  }
  
  .input--style-4::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #ccc;
  }
  
  .input--style-4:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ccc;
    opacity: 1;
  }
  
  .input--style-4::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ccc;
    opacity: 1;
  }
  
  .input--style-4:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ccc;
  }
  
  .input--style-4:-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ccc;
  }

  


/* ==========================================================================
   #TITLE
   ========================================================================== */
   .title {
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 36px;
  }

  /* ==========================================================================
   #CARD
   ========================================================================== */
.card {
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}

.card-3 {
  background: #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  display: table;
}

.card-3 .card-heading {
  background: url("../src/fotoNE.jpg") top left/cover no-repeat;
  display: table-cell;
  width: 30%;
}

.card-3 .card-body {
  padding: 57px 65px;
  padding-bottom: 65px;
  display: table-cell;
}

@media (max-width: 767px) {
  .card-3 {
    display: block;
  }
  .card-3 .card-heading {
    display: block;
    width: 100%;
    padding-top: 400px;
    background-position: center center;
  }
  .card-3 .card-body {
    display: block;
    width: 100%;
    padding: 37px 30px;
    padding-bottom: 45px;
  }
}
.card-4 {
  background: #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  display: table;
}

.card-4 .card-heading {
  background: url("../src/fotoNE.jpg") top left/cover no-repeat;
  display: table-cell;
  width: 30%;
}

.card-4 .card-body {
  display: table-cell;
}

@media (max-width: 767px) {
  .card-4 {
    display: block;
  }
  .card-4 .card-heading {
    display: block;
    width: 100%;
    padding-top: 400px;
    background-position: center center;
  }
  .card-4 .card-body {
    display: block;
    width: 100%;
  }
}
/*-----FOOTER-----*/

#footer{
  color: whitesmoke;
  display:flex;
  background-color: black;
  width: 100%;
  height: 100px;
}

#upFooter{
  font-family: 'Raleway', Arial, sans-serif;
  color: whitesmoke;
  letter-spacing: 0.3em;
  display:flex;
  background-color: black;
  width: 100%;
  height: 100px;
  justify-content: center;
}

#ptem{
  align-items: center;
  margin-top: 5px;
}

#otro{
  margin-left: 50px;
  font-size: 27px;
  letter-spacing: 0.2em;
}
#parteIzquierda{
  align-items: center;
  margin-top: 5px;
  width: 50%;
}
#parteDerecha{
width: 50%;
}

#parteUno{
margin-left: 15%;
float: left;
width: 50%;
text-align: left;
}
#parteDos{
margin-right: 15%;
float: right;
width: 50%;
text-align: right;
}
#centroFooter{
  display: flex;
  justify-content: center;
  background-color: #d9d9d9;
  border-top: 30px solid #d9d9d9;
  border-bottom: 30px solid #d9d9d9;
  border-left: 20px solid #d9d9d9;
  min-width: 180px;
  max-width: 100%;
  min-height: 20px;
  max-height: 60%;
}

#backToTop{
  font-family: 'Raleway', Arial, sans-serif;
  color: whitesmoke;
  letter-spacing: 0.3em;
  display: flex;
  background-color: black;
  width: 100%;
  height: 80px;
  justify-content: center;
  margin-top: 20px;
}

#backToTopBttn{
  background-color: black;
  height: 100px;
  width: 120px;
  font-size: 16px;
  text-decoration: none;
  color: whitesmoke;
}
#cositas{
  color: whitesmoke;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.footerBttn{
  color: white;
  height: 100px;
  width: 120px;
  background-color:#d9d9d9;
  outline: none;
  border: none;
}
#socialBttn{
  height: 20px;
  width: 20px;
}

#derechaFooter{
  color: black;
  background-color: whitesmoke;
  min-height: 100px;
}
/*-----BACKGROUND-----*/

#fotoBenvinguda{
  background-position: center center;
  background-image: url("../src/backgroundTravel.jpg");
  height: 500px;
  margin: 30;
  top: 0;
  padding: 0;
  background-size: cover;
}

/*-----EXPERIENCIES-----*/

.recentPosts{
background-clip: padding-box;
color: whitesmoke;
display: flex;
justify-content: center;
font-size: 40px;
font-family: 'Raleway', Arial, sans-serif;
}
#textIndex{
  margin: 0;
  align-items: center;
}

#experiencies{
  margin-top: 0%;
  color: blanchedalmond;
}

#fotoExperiencia{
  width: 300px;
  height: 100px;
}

/*-----ÚLTIMES ENTRADES-----*/

#ultimesEntrades{
  color: blanchedalmond;
}

/*-----SLIDESHOW-----*/

#dadesPost{
  text-transform: capitalize;
}
#fotoPost{
  height: 720px;
  width: 1080px;
}
.slider{
 padding: 10px; 
}

.item img{
  transform: scale(.92);
  transition: all ease 0.6s;
}

.item:hover img{
  transform: scale(.85);
}

.slider-caption{
  position: absolute;
  top: 35%;
  left: 95px;
  z-index: 999;
}

.slider-caption h4{
  text-transform: capitalize;
  font-size: 58px;
  color: #fff;
}

.slider-caption p{
  text-transform: capitalize;
  font-size: 20px;
  color: #fff;
}

.owl-item{
  opacity: .4;
  transition: all ease 0.6s;
}

.owl-item .slider-caption{
  opacity: 0;
  transform: translateY(-25px);
}

.owl-item.active.center{
  opacity: 1;
}

.owl-item.active.center .slider-caption{
  opacity: 1;
  transform: translateY(0);
  transition: all ease 0.4s;
}

.owl-nav{
  text-align: center;
}


/*-----EFECTO HOOVER IMAGEN PAGINA INICIO-----*/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip1477 {
background-color: transparent;
font-family: 'Raleway', Arial, sans-serif;
position: relative;
overflow: hidden;
margin: 0px;
min-width: 230px;
max-width: 40%;
min-height: 60%;
max-height: 80%;
width: 100%;
color: #ffffff;
text-align: center;
font-size: 16px;
letter-spacing: 0.3em;
}
figure.snip1477 *,
figure.snip1477 *:before,
figure.snip1477 *:after {
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.55s ease;
transition: all 0.55s ease;
}
figure.snip1477 img {
backface-visibility: hidden;
vertical-align: top;
opacity: 0.9;
filter: blur(3px);
-webkit-filter: blur(3px);
}
figure.snip1477 .title {

position: absolute;
top: 58%;
left: 20%;
padding: 5px 10px 10px;
}
figure.snip1477 .title:before,
figure.snip1477 .title:after {
height: 2px;
width: 400px;
position: absolute;
content: '';
background-color: #ffffff;
}
figure.snip1477 .title:before {
top: 0;
left: 10px;
-webkit-transform: translateX(100%);
transform: translateX(100%);
}
figure.snip1477 .title:after {
bottom: 0;
right: 10px;
-webkit-transform: translateX(-100%);
transform: translateX(-100%);
}
figure.snip1477 .title div:before,
figure.snip1477 .title div:after {
width: 2px;
height: 300px;
position: absolute;
content: '';
background-color: #ffffff;
}
figure.snip1477 .title div:before {
top: 10px;
right: 0;
-webkit-transform: translateY(100%);
transform: translateY(100%);
}
figure.snip1477 .title div:after {
bottom: 10px;
left: 0;
-webkit-transform: translateY(-100%);
transform: translateY(-100%);
}
figure.snip1477 h2,
figure.snip1477 h4 {
margin: 0;
text-transform: uppercase;
}
figure.snip1477 h2 {
font-size: 40px;
font-weight: 400;
}
figure.snip1477 h4 {
display: block;
font-weight: 700;
background-color: #ffffff;
padding: 5px 10px;
color: #000000;
}
figure.snip1477 figcaption {
position: absolute;
bottom: 42%;
left: 20%;
text-align: left;
opacity: 0;
padding: 5px 60px 5px 10px;
font-size: 0.8em;
font-weight: 500;
letter-spacing: 1.5px;
}
figure.snip1477 figcaption p {
color: black;
font-weight: 10px;
left: 20%;
margin: 0;
}
figure.snip1477 a {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
}
figure.snip1477:hover img,
figure.snip1477.hover img {
zoom: 1;
filter: alpha(opacity=35);
-webkit-opacity: 0.35;
opacity: 0.35;
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after,
figure.snip1477:hover .title div:before,
figure.snip1477.hover .title div:before,
figure.snip1477:hover .title div:after,
figure.snip1477.hover .title div:after {
-webkit-transform: translate(0, 0);
transform: translate(0, 0);
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after {
-webkit-transition-delay: 0.15s;
transition-delay: 0.15s;
}
figure.snip1477:hover figcaption,
figure.snip1477.hover figcaption {
opacity: 1;
-webkit-transition-delay: 0.2s;
transition-delay: 0.2s;
}

/*-----CSS LOGIN-----*/

#contentLogin {
  flex: 1;
  background-color: black;
  }
  .popup .contentLogin{
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position:absolute;
  top:40%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:black;
  width: 320px;
  height: 420px;
  z-index:2;
  text-align:left;
  padding: 70px 30px;
  box-sizing:border-box;
  font-family: 'Raleway', Arial, sans-serif;
  }
  .popup.active .contentLogin {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
    }

    .contentLogin{
      background: #000;
      color: whitesmoke;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 70px 30px;
    }
    
    .contentLogin .avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: absolute;
      top: -50px;
      left: calc(50% - 50px);
    }
    
    .contentLogin h1 {
      margin: 0;
      padding: 0 0 20px;
      text-align: center;
      font-size: 22px;
    }
    
    .contentLogin label {
      margin: 0;
      padding: 0;
      font-weight: bold;
      display: block;
    }
    
    .contentLogin input {
      width: 100%;
      margin-bottom: 20px;
    }
    
    .contentLogin input[type="text"], .contentLogin input[type="password"] {
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 40px;
      color: #fff;
      font-size: 16px;
    }
    
    .contentLogin input[type="button"] {
      border: none;
      outline: none;
      height: 40px;
      background: #b80f22;
      color: #fff;
      font-size: 18px;
      border-radius: 20px;
    }
    
    .contentLogin input[type="button"]:hover {
      cursor: pointer;
      background: #ffc107;
      color: #000;
    }
    
    .contentLogin a {
      text-decoration: none;
      font-size: 12px;
      line-height: 20px;
      color: darkgrey;
    }
    
    .contentLogin a:hover {
      color: #fff;
    }

    .contentLogin button{
      text-decoration: none;
      font-size: 16px;
      line-height: 20px;
      color: black;
      border-radius: 20px;
    }

    #nouUsuari{
      background-color: black;
      border: none;
      outline: none;
      height: 40px;
      color: #fff;
      font-size: 12px;
    }

    #nouUsuari:hover {
      cursor: pointer;
      background: #ffc107;
      color: #000;
    }

/*-----CSS REGISTER-----*/
#contentRegister {
  flex: 1;
  background-color: black;
  }
  .popup .contentRegister{
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position:absolute;
  top:40%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:black;
  width: 320px;
  height: 300px;
  z-index:2;
  text-align:left;
  padding: 70px 30px;
  box-sizing:border-box;
  font-family: 'Raleway', Arial, sans-serif;
  }
  .popup.active .contentRegister {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
    }

    .contentRegister{
      background: #000;
      color: whitesmoke;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 70px 30px;
    }
    
    .contentRegister .avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: absolute;
      top: -50px;
      left: calc(50% - 50px);
    }
    
    .contentRegister h1 {
      margin: 0;
      padding: 0 0 20px;
      text-align: center;
      font-size: 22px;
    }
    
    .contentRegister label {
      margin: 0;
      padding: 0;
      font-weight: bold;
      display: block;
    }
    
    .contentRegister input {
      width: 100%;
      margin-bottom: 20px;
    }
    
    .contentRegister input[type="text"], .contentRegister input[type="password"] {
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 40px;
      color: #fff;
      font-size: 16px;
    }
    
    .contentRegister input[type="submit"] {
      border: none;
      outline: none;
      height: 40px;
      background: #b80f22;
      color: #fff;
      font-size: 18px;
      border-radius: 20px;
    }
    
    .contentRegister input[type="submit"]:hover {
      cursor: pointer;
      background: #ffc107;
      color: #000;
    }
    
    .contentRegister a {
      text-decoration: none;
      font-size: 12px;
      line-height: 20px;
      color: darkgrey;
    }
    
    .contentRegister a:hover {
      color: #fff;
    }

    .contentRegister button{
      text-decoration: none;
      font-size: 16px;
      line-height: 20px;
      color: black;
      border-radius: 20px;
    }

/*-----CSS STAFF-----*/

#contentStaff {
flex: 1;
background-color: black;
}
.popup .contentStaff{
box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
border-radius: 20px;
position:absolute;
top:40%;
left:50%;
transform:translate(-50%,-50%) scale(0);
background:black;
width:850px;
height:650px;
z-index:2;
text-align:center;
padding:20px;
box-sizing:border-box;
font-family: 'Raleway', Arial, sans-serif;
}

.popup.active .contentStaff {
transition:all 300ms ease-in-out;
transform:translate(-50%,-50%) scale(1);
}

*, *:before, *:after {
box-sizing: inherit;
}

.column {
float: left;
width: 33.3%;
margin-bottom: 16px;
padding: 0 8px;
}

@media screen and (max-width: 650px) {
.column {
  width: 100%;
  display: block;
}
}

.cardStaff {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
padding: 0 16px;
}

.container::after, .row::after {
content: "";
clear: both;
display: table;
}

.title {
color: grey;
}

.button {
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
}

.button:hover {
background-color: #555;
}

/*CSS SEARCH*/

#contentSearch {
  flex: 1;
  background-color: black;
  }
  .popup .contentSearch{
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position:absolute;
  top:40%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:black;
  width: 320px;
  height: 440px;
  z-index:2;
  text-align:left;
  padding: 70px 30px;
  box-sizing:border-box;
  font-family: 'Raleway', Arial, sans-serif;
  }

  .filtroLabel{
    text-align: center;
    
  }
  #filtroUser{
    width: 100%;
  }


  .popup.active .contentSearch {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
    }

    #filtroTitol{
      position: absolute;
      text-align: center;
      top: 0;
    }
    .selects{
      display: block;
      margin: 0 auto;
      width: 200px;
      text-align: center;
      border-radius: 30px;
      height: 30px;
      text-align-last:center;
      outline: none;
      -webkit-box-shadow: 0 0 5px whitesmoke;
        box-shadow: 0 0 5px whitesmoke;
    }
    .selects:hover{
      -webkit-box-shadow: 0 0 10px whitesmoke;
        box-shadow: 0 0 10px whitesmoke;
    }
    .search-container{
      position: relative;
      text-align: center;
    }

    .search-container button {
      border: none;
      outline: none;
      width: 170px;
      height: 30px;
      background: #b80f22;
      color: #fff;
      font-size: 14px;
      border-radius: 20px;
    }
    
    .search-container button:hover {
      cursor: pointer;
      background: #ffc107;
      color: #000;
    }
    .contentSearch input[type="text"] {
      border: none;
      width: 100px;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 40px;
      text-align: center;
      color: #fff;
      font-size: 16px;
    }

    #searchButton{
      border: none;
      outline: none;
      width: 170px;
      height: 30px;
      background: #b80f22;
      color: #fff;
      font-size: 14px;
      border-radius: 20px;
    }

    #searchButton:hover{
      cursor: pointer;
      background: #ffc107;
      color: #000;
    }

/*CSS EXPERIENCIAS_USUARIO*/

#grid-container {
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  text-align: center;
  grid-column-gap: 75px;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 100px;
  padding-bottom: 100px;
}

.experienciaOutter{
  text-transform: capitalize;
  color: whitesmoke;
  margin: 1px;
  height: 500px;
  width: auto;
}

.experienciaInner{
  position: absolute;
  background-size: cover;
  border-radius: 0px 0px 40px 40px;
  height: 465px;
  width: 100%;
  bottom: 0;
}

.localizacion{
  position: absolute;
  font-size: 35px;
  left: 20px;
  bottom: 40px;
}
.coordenadas{
  position: absolute;
  font-size: 11px;
  right: 20px;
  bottom: 30px;
}

.experienciaMiddle{
  
  border-radius: 40px;
  height: 500px;
  width: auto;
  position: relative;
  -webkit-box-shadow: 0 0 5px whitesmoke;
        box-shadow: 0 0 5px whitesmoke;
}
.experienciaMiddle:hover {
  -webkit-box-shadow: 0 0 10px whitesmoke;
        box-shadow: 0 0 10px whitesmoke;
}

#cargamas{
  letter-spacing: 0.3em;
  font-size: 16px;
  text-decoration: none;
  float: right;
  border-radius: 10px;
  margin-right: 200px;
  margin-bottom: 10px;
  height: 30px;
  width: 200px;
  font-size: 15px;
  font-family: 'Raleway', Arial, sans-serif;
  background-color: whitesmoke;
  outline: none;
  border: none;
  -webkit-box-shadow: 0 0 5px whitesmoke;
        box-shadow: 0 0 5px whitesmoke;
}
#cargamas:hover{
  -webkit-box-shadow: 0 0 10px whitesmoke;
        box-shadow: 0 0 10px whitesmoke;
}

.categoriaExperiencia{
  margin: 0;
  padding: 10px;
  text-align: center;
}
.usuarioYfecha{
  padding: 5px;
  padding-left: 35px;
  text-align: left;
  font-size: 12px;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
  border-radius: 50%;
  border: 6px solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.likecontent{
  position: relative;
}
.numLike{
  font-size: 12px;
  position: absolute;
  bottom: 7px;
  right:30px;
}
.gestion{
  font-size: 12px;
  position: absolute;
  bottom: 20px;
  right:150px;
  color: blueviolet;
  cursor: pointer;
}
.heart {
  position: absolute;
  bottom: 5px;
  right: 35px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-image:url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
  background-position: left;
  background-repeat:no-repeat;
  background-size:2900%;
}

.heart:hover {
  background-position:right;
}

.is_animating {
  animation: heart-burst .8s steps(28) 1;
}

@keyframes heart-burst {
  from {background-position:left;}
  to { background-position:right;}
}
.animate {
  -webkit-animation: spinit 0.2s 5;
  -moz-animation: spinit 0.2s 5;
  animation: spinit 0.2s 5;
}

/*Popup Experiencia*/

.popup .contentExp{
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:black;
  width:850px;
  height:760px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family: 'Raleway', Arial, sans-serif;
  margin: 2px;
  }
  
  .popup.active .contentExp {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
  }

  .allInfoExp{
    left: 5%;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  }
#popExpFoto{
  height: 520px;
  width: 1080px;
  max-width: 100%;
  max-height: 60%;
  top: 15%;
  align-items: right;
}

#popExpFecha{
  text-transform: capitalize;
  color: whitesmoke;
  top: 12%;
  border: none;
  outline: none;
  height: 40px;
  background: #b8660f;
  font-size: 14px;
  border-radius: 15px;
  font-weight: bold;
}

#popExpCoords{
  text-transform: capitalize;
  font-size: 10px;
  color: whitesmoke;
  position: absolute;
  top: 12%;
}

#popExpTexto{
  font-size: 16px;
  color: whitesmoke;
  text-align: justify;
  margin-left: 2px;
  padding: 20px;
}
/*Popup opciones usuario*/
.popup .contentOptions{
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position: absolute;
  top:100px;
  right: -100px;
  transform:translate(-50%,-50%) scale(0);
  background:black;
  width:200px;
  height:250px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family: 'Raleway', Arial, sans-serif;
  margin: 2px;
  }
  
  .popup.active .contentOptions {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
  }
  .popup .overlay2 {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    z-index:1;
    display:none;
  }
  .popup.active .overlay {
  display:block;
}
#usuariOptions{
  position: absolute;
  right: 0;
}
#optionsUl{
  list-style:none;
  padding: 0;
}
#optionsUl li{
  padding: 15px;
}
#optionsUl .optionClickable:hover{
  background-color: #555;
  cursor: pointer;
}
/*Popup staff*/
.popup .contentAdmin{
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position: absolute;
  top:100px;
  right: -50px;
  transform:translate(-50%,-50%) scale(0);
  background:black;
  width:200px;
  height:250px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family: 'Raleway', Arial, sans-serif;
  margin: 2px;
  }
  
  .popup.active .contentAdmin {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
  }
/*Popup reportado*/
.popup .contentReportadas{
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:black;
  width:320px;
  height:220px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family: 'Raleway', Arial, sans-serif;
  margin: 2px;
  }
  
  .popup.active .contentReportadas {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
  }
  

  .scroll{
    overflow-y: scroll;
    height: 300px;
    width: 300px;
    scrollbar-width: none;
    padding-left: 20px;
  }

  /*Popup single report */
  .popup .contentScrolls{
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:black;
    width:500px;
    height:400px;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    font-family: 'Raleway', Arial, sans-serif;
    margin: 2px;
    }
    
    .popup.active .contentScrolls {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
    }


/*Tus experiencias pop up*/

.popup .contentTusExperiencias{
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:black;
    width:500px;
    height:540px;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    font-family: 'Raleway', Arial, sans-serif;
    margin: 2px;
    }
    
    .popup.active .contentTusExperiencias {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
    }


    /*-----TUS EXPEREINCIES-----*/
    #contentMyexperiences {
      flex: 1;
      background-color: black;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      }
      .popup .contentMyexperiences{
        margin: 0 auto;
        align-items: center;
        display: grid;
        justify-items: center;
        box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        position:absolute;
        max-width: 1580px;
        height:650px;
        transform:translate(-50%,-50%) scale(0);
        background:black;
        top:40%;
        left:50%;
        z-index:2;
        text-align:center;
        padding: 0;
        box-sizing:border-box;
        font-family: 'Raleway', Arial, sans-serif;
      }
      .popup.active .contentMyexperiences {
        transition:all 300ms ease-in-out;
        transform:translate(-50%,-50%) scale(1);
        }
    
    .contentMyexperiences .wrapper{
      margin: 0 auto;
    }
    
    .contentMyexperiences .wrapper--w780 {
      max-width: 1080px;
    }
    
    .contentMyexperiences .card-body{
      background: lighten(black, 5%);
      display: grid;
      grid-template-areas: "." ".";
      width: 500px;
    }
    
    .contentMyexperiences .crearTusExp{
      display: inline-block;
      line-height: 40px;
      padding: 0 33px;
      font-family: 'Raleway', Arial, sans-serif;
      cursor: pointer;
      color: whitesmoke;
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease;
      font-size: 18px;
    }
    
    .contentMyexperiences .crear--radius{
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
    
    .contentMyexperiences .crear--pill{
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
    }
    
    .contentMyexperiences .crear-orange{
      background: #b80f22;;
    }
    
    .contentMyexperiences .crear-orange:hover{
      background: #ffc107;
    }
    
    /* ==========================================================================
       #FORM
       ========================================================================== */
       .contentMyexperiences input {
        outline: none;
        margin: 0;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 100%;
        font-size: 14px;
        font-family: inherit;
      }
      
      .contentMyexperiences .input-icon {
        position: absolute;
        font-size: 18px;
        color: #ccc;
        right: 8px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        cursor: pointer;
      }
      
      .contentMyexperiences .mas_info{
        position: relative;
        margin-bottom: 33px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }
      
      .contentMyexperiences .input--style-3 {
        padding: 5px 0;
        font-size: 16px;
        color: #ccc;
        background: transparent;
      }

      .contentMyexperiences #imagenTusExp {
        padding: 5px 0;
        font-size: 16px;
        color: #ccc;
        background: transparent;
      }
      .contentMyexperiences #textoTusExp {
        padding: 5px 0;
        font-size: 16px;
        color: #ccc;
        background: transparent;
      }
      .contentMyexperiences .input--style-3::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #ccc;
      }
      
      .contentMyexperiences .input--style-3:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #ccc;
        opacity: 1;
      }
      
      .contentMyexperiences .input--style-3::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #ccc;
        opacity: 1;
      }
      
      .contentMyexperiences .input--style-3:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #ccc;
      }
      
      .contentMyexperiences .input--style-3:-ms-input-placeholder {
        /* Microsoft Edge */
        color: #ccc;
      }
    
      .contentMyexperiences .input--style-4 {
        padding: 5px 0;
        font-size: 16px;
        color: #ccc;
        background: transparent;
        overflow: auto;
      }
      
      .contentMyexperiences .input--style-4::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #ccc;
      }
      
      .contentMyexperiences .input--style-4:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #ccc;
        opacity: 1;
      }
      
      .contentMyexperiences .input--style-4::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #ccc;
        opacity: 1;
      }
      
      .contentMyexperiences .input--style-4:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #ccc;
      }
      
      .contentMyexperiences .input--style-4:-ms-input-placeholder {
        /* Microsoft Edge */
        color: #ccc;
      }
    
      
    
    
    /* ==========================================================================
       #TITLE
       ========================================================================== */
       .contentMyexperiences .title {
        font-size: 24px;
        color: #fff;
        font-weight: 400;
        margin-bottom: 36px;
      }
    
      .contentMyexperiences .descEditExp{
        font-size: 18px;
        color: #fff;
        font-weight: 400;
        margin-bottom: 36px;
      }
      /* ==========================================================================
       #CARD
       ========================================================================== */
       .contentMyexperiences .card {
      overflow: hidden;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background: #fff;
    }
    
    .contentMyexperiences .card-3 {
      background: #000;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
      width: 100%;
      display: table;
    }
    
    .contentMyexperiences .card-3 .card-heading {
      background: url("../src/fotoNE.jpg") top left/cover no-repeat;
      display: table-cell;
      width: 30%;
    }
    
    .contentMyexperiences .card-3 .card-body {
      padding: 57px 65px;
      padding-bottom: 65px;
      display: table-cell;
    }
    
    @media (max-width: 767px) {
      .contentMyexperiences .card-3 {
        display: block;
      }
      .contentMyexperiences .card-3 .card-heading {
        display: block;
        width: 100%;
        padding-top: 400px;
        background-position: center center;
      }
      .contentMyexperiences .card-3 .card-body {
        display: block;
        width: 100%;
        padding: 37px 30px;
        padding-bottom: 45px;
      }
    }
    /*Popup users admin*/
.popup .usersAdmin{
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:black;
  width:500px;
  height:540px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family: 'Raleway', Arial, sans-serif;
  margin: 2px;
  }
  
  .popup.active .usersAdmin {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
  }
  #usersAdmin{
    overflow-y: scroll;
      height: 300px;
      scroll-margin-left: 0;
  }
  .report{
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    right:90px;
    color: grey;
    cursor: pointer;
  }

    /*GESTIONAR*/

    #contentGestionar {
      flex: 1;
      background-color: black;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      }
      .popup .contentGestionar{
        margin: 0 auto;
        align-items: center;
        display: grid;
        justify-items: center;
        box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        position:absolute;
        max-width: 1580px;
        height:650px;
        transform:translate(-50%,-50%) scale(0);
        background:black;
        top:40%;
        left:50%;
        z-index:2;
        text-align:center;
        padding: 0;
        box-sizing:border-box;
        font-family: 'Raleway', Arial, sans-serif;
      }
      .popup.active .contentGestionar {
        transition:all 300ms ease-in-out;
        transform:translate(-50%,-50%) scale(1);
        }
    
    .contentGestionar .wrapper{
      margin: 0 auto;
    }
    
    .contentGestionar .wrapper--w780 {
      max-width: 1080px;
    }
    
    .contentGestionar .card-body{
      background: lighten(black, 5%);
      display: grid;
      grid-template-areas: "." ".";
      width: 500px;
    }
    
    .contentGestionar .crearTusExp{
      display: inline-block;
      line-height: 40px;
      padding: 0 33px;
      font-family: 'Raleway', Arial, sans-serif;
      cursor: pointer;
      color: whitesmoke;
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease;
      font-size: 18px;
    }
    
    .contentGestionar .crear--radius{
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
    
    .contentGestionar .crear--pill{
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
    }
    
    .contentGestionar .crear-orange{
      background: #b80f22;;
    }
    
    .contentGestionar .crear-orange:hover{
      background: #ffc107;
    }
    
    /* ==========================================================================
       #FORM
       ========================================================================== */
       .contentGestionar input {
        outline: none;
        margin: 0;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 100%;
        font-size: 14px;
        font-family: inherit;
      }
      
      .contentGestionar .input-icon {
        position: absolute;
        font-size: 18px;
        color: #ccc;
        right: 8px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        cursor: pointer;
      }
      
      .contentGestionar .mas_info{
        position: relative;
        margin-bottom: 33px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }
      
      .contentGestionar .input--style-3 {
        padding: 5px 0;
        font-size: 16px;
        color: #ccc;
        background: transparent;
      }

      .contentGestionar #imagenAct {
        padding: 5px 0;
        font-size: 16px;
        color: #ccc;
        background: transparent;
      }
      .contentGestionar #textoAct {
        padding: 5px 0;
        font-size: 16px;
        color: #ccc;
        background: transparent;
      }
      .contentGestionar .input--style-3::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #ccc;
      }
      
      .contentGestionar .input--style-3:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #ccc;
        opacity: 1;
      }
      
      .contentGestionar .input--style-3::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #ccc;
        opacity: 1;
      }
      
      .contentGestionar .input--style-3:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #ccc;
      }
      
      .contentGestionar .input--style-3:-ms-input-placeholder {
        /* Microsoft Edge */
        color: #ccc;
      }
    
      .contentGestionar .input--style-4 {
        padding: 5px 0;
        font-size: 16px;
        color: #ccc;
        background: transparent;
        overflow: auto;
      }
      
      .contentGestionar .input--style-4::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #ccc;
      }
      
      .contentGestionar .input--style-4:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #ccc;
        opacity: 1;
      }
      
      .contentGestionar .input--style-4::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #ccc;
        opacity: 1;
      }
      
      .contentGestionar .input--style-4:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #ccc;
      }
      
      .contentGestionar .input--style-4:-ms-input-placeholder {
        /* Microsoft Edge */
        color: #ccc;
      }
    
      
    
    
    /* ==========================================================================
       #TITLE
       ========================================================================== */
       .contentGestionar .title {
        font-size: 24px;
        color: #fff;
        font-weight: 400;
        margin-bottom: 36px;
      }
    
      .contentGestionar .descEditExp{
        font-size: 18px;
        color: #fff;
        font-weight: 400;
        margin-bottom: 36px;
      }
      /* ==========================================================================
       #CARD
       ========================================================================== */
       .contentGestionar .card {
      overflow: hidden;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background: #fff;
    }
    
    .contentGestionar .card-3 {
      background: #000;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
      width: 100%;
      display: table;
    }
    
    .contentGestionar .card-3 .card-heading {
      background: url("../src/fotoNE.jpg") top left/cover no-repeat;
      display: table-cell;
      width: 30%;
    }
    
    .contentGestionar .card-3 .card-body {
      padding: 57px 65px;
      padding-bottom: 65px;
      display: table-cell;
    }
    .scroll .card-3 .card-body {
      padding: 57px 65px;
      padding-bottom: 65px;
      display: table-cell;
    }
    
    @media (max-width: 767px) {
      .contentGestionar .card-3 {
        display: block;
      }
      .contentGestionar .card-3 .card-heading {
        display: block;
        width: 100%;
        padding-top: 400px;
        background-position: center center;
      }
      .contentGestionar .card-3 .card-body {
        display: block;
        width: 100%;
        padding: 37px 30px;
        padding-bottom: 45px;
      }
    }
    
