html {
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  
body {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}
#content {
    flex: 1;
    background-color: black;
}

/*Header*/
.popup .overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:black;
    z-index:1;
    display:none;
  }
  
  .popup .content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:black;
    width:500px;
    height:250px;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    font-family:"Open Sans",sans-serif;
  }
  
  .popup .close-btn {
    cursor:pointer;
    position:absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    background:#222;
    color:#fff;
    font-size:25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
  }
  
  .popup.active .overlay {
    display:block;
  }
  
  .popup.active .content {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
  }
  
.closeBttn {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding:15px;
    font-size:18px;
    border:2px solid #222;
    color:#222;
    text-transform:uppercase;
    font-weight:600;
    background:#fff;
  }
#header{
    color: whitesmoke;
    display:flex;
    background-color: black;
    width: 100%;
    height: 100px;
}
#logoHeader{
    width:10%;
    display: flex;
    justify-content: flex-start;
}
#titolHeader{
    width:80%;
    display: flex;
    justify-content: center;
}
#botonsDivHeader{
    width:10%;
    display: flex;
    justify-content: flex-end;
}
.headerBttn{
    color: white;
    height: 100px;
    width: 60px;
    background-color:black;
    border: none;
    border-left: 2px solid black;
    outline: none;
}
#logo{
    height: 100px;
    width: 250px;
    margin: 0;
    padding: 5px;
}
#searchBttn{
    height: 20px;
    width: 20px;
}
#logInBttn{
    height: 20px;
    width: 20px;
}
#footer{
    background-color: whitesmoke;
    height: 100px;
}

/*-----BACKGROUND-----*/

#fotoBenvinguda{
    background-position: center center;
    background: url("../src/backgroundTravel.jpg"), no-repeat;
    height: 500px;
    margin: 10;
    top: 0;
    padding: 0;
    background-size: cover;
}

/*-----EXPERIENCIES-----*/
#textIndex{
    margin: 0;
    align-items: center;
}

#experiencies{
    color: blanchedalmond;

}

#fotoExperiencia{
    width: 300px;
    height: 100px;
}

/*-----SLIDESHOW-----*/

#fotoPost{
    height: 720px;
    width: 1080px;
}
.slider{
   padding: 100px 0; 
}

.item img{
    transform: scale(.92);
    transition: all ease 0.6s;
}

.item:hover img{
    transform: scale(.85);
}

.slider-caption{
    position: absolute;
    top: 35%;
    left: 45px;
    z-index: 999;
}

.slider-caption h4{
    font-size: 58px;
    color: #fff;
}

.slider-caption p{
    font-size: 20px;
    color: #fff;
}

.owl-item{
    opacity: .4;
    transition: all ease 0.6s;
}

.owl-item .slider-caption{
    opacity: 0;
    transform: translateY(-25px);
}

.owl-item.active.center{
    opacity: 1;
}

.owl-item.active.center .slider-caption{
    opacity: 1;
    transform: translateY(0);
    transition: all ease 0.4s;
}

.owl-nav{
    text-align: center;
}

.owl-nav button{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    line-height: 42px !important;
    background-color: rgba(255,255,255,.3) !important;
    color: #fff !important;
    margin: 0 5px;
    outline: none;
}